.modal{
   position: absolute;
   top: 15%;
   left: 28%;
   transform: 'translate(-50%, -50%)';
   min-width: 510px;
   background: #051f5c;
   border: '2px solid #000';
   box-shadow: 24px;
   border-radius: 10px;
   padding: 16px;
   display: flex;
   flex-direction: column;
}

.image{
   object-fit: fill;
   width: 400px;
   height: 400px;
   margin: 0 auto;
   border: 1px solid rgb(180, 178, 178);
}

.flex{
   display: flex;
   justify-content: space-between;
}

.buttonSubmit{
   margin-right: 10px;
}

.buttonCenter{
   text-align: center;
   margin-top: 20px;
}

.avatar{
   margin: 0 auto;
}