.modal{
   //position: absolute;
   //top: 15%;
   //left: 28%;
   transform: 'translate(-50%, -50%)';
   width: 85%;
   margin: 100px auto;
   background: #143685;
   border: '2px solid #000';
   box-shadow: 24px;
   border-radius: 10px;
   padding: 16px;
   display: flex;
   flex-direction: column;
}

.image{
   width: 100%;
   height: 230px;
   margin: 0 auto;
}

.flex{
   display: flex;
   justify-content: space-between;
}

.buttonSubmit{
   margin-right: 10px;
}

.buttonCenter{
   text-align: center;
   margin-top: 20px;
}