.modal{
   //position: absolute;
   //top: 15%;
   //left: 31%;
   margin: 100px auto;
   transform: 'translate(-50%, -50%)';
   width: 85%;
   border: '2px solid #000';
   box-shadow: 24px;
   max-height: 450px;
}

.image{
   object-fit: contain;
}
